[build]
  command = "npm run build"
  publish = "build"

[dev]
  command = "npm start"
  port = 8888
  targetPort = 3000

[functions]
  directory = "netlify/functions"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "REACT_APP_EMAILJS_PUBLIC_KEY,REACT_APP_EMAILJS_SERVICE_ID,REACT_APP_EMAILJS_TEMPLATE_ID"